In [1]:
import pandas as pd
import glob

# # Load all CSV files into a list of dataframes
# file_paths = [
#     "./1_df_season1_player-total-points.csv",
#     "./2_df_season1_player-successful-raids.csv",
#     "./3_df_season1_player-raid-points.csv",
#     "./4_df_season1_player-successful-tackles.csv",
#     "./5_df_season1_player-tackle-points.csv",
#     "./7_df_season1_player-avg-tackle-points.csv",
#     "./8_df_season1_player-dod-raid-points.csv",
#     "./9_df_season1_player-super-raids.csv",
#     "./10_df_season1_player-super-tackles.csv",
#     "./11_df_season1_super-10s.csv",
#     "./12_df_season1_high-5s.csv",
# ]

# # Reading all dataframes
# dfs = [pd.read_csv(file) for file in file_paths]

file_map = {
    "./1_df_season6_player-total-points.csv": "total_points",
    "./2_df_season6_player-successful-raids.csv": "successful_raids",
    "./3_df_season6_player-raid-points.csv": "raid_points",
    "./4_df_season6_player-successful-tackles.csv": "successful_tackles",
    "./5_df_season6_player-tackle-points.csv": "tackle_points",
    "./7_df_season6_player-avg-tackle-points.csv": "avg_tackle_points",
    "./8_df_season6_player-dod-raid-points.csv": "dod_raid_points",
    "./9_df_season6_player-super-raids.csv": "super_raids",
    "./10_df_season6_player-super-tackles.csv": "super_tackles",
    "./11_df_season6_super-10s.csv": "super_10s",
    "./12_df_season6_high-5s.csv": "super_5s",
}

# Load the CSVs again and rename columns based on their corresponding file
renamed_dfs = []

for path, stat_name in file_map.items():
    df = pd.read_csv(path)
    rename_dict = {
        col: (
            f"{stat_name}_{col}"
            if col not in ["player_id", "player_name", "team_name", "team_full_name"]
            else col
        )
        for col in df.columns
    }
    renamed_dfs.append(df.rename(columns=rename_dict))

# Merge all dataframes on 'player_id'
merged_df = renamed_dfs[0]
for df in renamed_dfs[1:]:
    merged_df = pd.merge(
        merged_df,
        df,
        on=["player_id", "player_name", "team_name", "team_full_name"],
        how="outer",
    )



# # Merge all dataframes on 'player+id'
# merged_df = dfs[0]
# for df in dfs[1:]:
#     merged_df = pd.merge(
#         merged_df, df, on="player_id", how="outer", suffixes=("", "_duplicate")
#     )

# Removing duplicate columns
merged_df_no_dup = merged_df.loc[:, ~merged_df.columns.duplicated()]

# tools.display_dataframe_to_user(name="Merged Player Statistics", dataframe=merged_df)

In [2]:
merged_df.head()

,player_id,player_name,total_points_match_played,total_points_value,total_points_team_id,total_points_team,team_name,total_points_rank,total_points_position_id,total_points_position_name,...,super_10s_position_name,super_10s_points_per_match,super_5s_match_played,super_5s_value,super_5s_team_id,super_5s_team,super_5s_rank,super_5s_position_id,super_5s_position_name,super_5s_points_per_match
0,12,Jang Lee,18,82,4,NaN,KOL,29,8,Raider,...,Raider,0.111111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14,Taedeok Eom,11,1,6,NaN,PAT,185,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,Ajay Thakur,22,204,29,NaN,CHE,6,8,Raider,...,Raider,0.318182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29,Anup Kumar,13,50,3,NaN,JAI,56,8,Raider,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34,Bhupender Singh,4,13,4,NaN,KOL,119,0,All Rounder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
len(merged_df.columns)

92

In [4]:
merged_df.to_csv("merged_df_season6.csv")